* {
  margin: 0;
}
.checkoutWrapper {
  background-color: #00afefb4;
  color: white;
  width: 70vw;
  display: flex;
  margin: 0 auto 0 auto;
  border-radius: 5px;
  padding: 2vw;
  margin-top: 5vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  border: 2px solid;
  border-color: rgb(31, 56, 165);
  border-radius: 5px;
  transition: background-color 0.3s ease-in;
}
.checkoutWrapper:hover {
  background-color: #00afef;
}

.checkoutItems {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}
.checkoutItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: linear-gradient(135deg, rgba(26, 26, 26, 1), rgba(51, 51, 51, 1));
  transition: background 0.3s ease; /* Smooth transition for background */
  gap: 30px;
  padding-left: 2vw;
  padding-right: 2vw;
  justify-content: space-between;
  user-select: none;
}

.rightSide {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding:1vw;
}
.svgIcon {
  max-height: 2vw;
  transition: transform 0.3s ease-in;
}
.svgIcon:hover {
  transform: scale(1.1);
}
.priceBox {
  padding-right: 1vw;
  justify-self: flex-end;
}
.checkoutImage {
  object-fit: contain;
  height: 8vw;
  justify-self: flex-end;
}
