@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@400;700&display=swap");
* {
  font-family: "Tektur", sans-serif;
}
@media (min-width: 1000px) {
  .productImage {
    object-fit: cover !important;
    /* width: clamp(10vw, 20vw, 25vw) !important; */
  }
  .popupModal {
    position: absolute !important;
  }
}
.title {
  color: white;
  text-align: center;
  padding: 1rem;
  margin-bottom: 2rem;
}
.productImage {
  object-fit: contain;
  max-height: 9vw;
}
.productWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
.productBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #00afef9a;
  max-width: 12rem;
  min-width: 12rem;
  height: clamp(10rem, 16rem, 18rem);
  border: 2px solid #008cbe;
  text-wrap: wrap;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  transition: background-color ease-in 0.5s, box-shadow ease-in 0.5s,
    border-color ease-in 0.5s;
  color: white;
}

.productBox:hover {
  background-color: #00afefd2;
  border-color: rgb(31, 56, 165);
}
.productTitle {
  margin-top: auto;
  margin-bottom: none !important;
}
.productPrice {
  margin-top: none;
}
.popupModal {
  position: fixed;
  z-index: 1000;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 22rem;
  min-height: 35rem;
  padding: 1.5rem;
  border-radius: 10px;
}
.modalInfo {
  text-align: center;
}
.modalPhoto {
  max-width: 10vw;
  max-height: 8rem;
  margin: 2rem 0 2rem 0;
  border-bottom: solid 1px black;
  transition: transform 0.3s ease-in;
  padding: 1rem;
}
.modalPhoto:hover {
  transform: scale(1.1);
}
.modalTitle {
  font-size: 2rem;
  text-decoration: underline;
  line-height: 2.5rem;
  margin-top: 1rem;
}
.modalPrice {
  font-weight: 600;
  padding: 1vw;
}
.addButton {
  padding: 0.3vw;
  padding-left: 1vw;
  padding-right: 1vw;
  font-weight: 600;
  border-radius: 5px;
}
.addButton:active {
  background-color: greenyellow;
  border-radius: 5px;
}
.quantity {
  padding: 0.3vw;
}
.exitButton {
  margin-left: auto;
}
.svgButton {
  margin-left: auto;
  min-width: clamp(1vw, 1.5vw, 2.5vw);
  transition: transform ease-in 0.3s;
}
.buttonBox {
  margin-top: 1vw;
}
.svgButton:hover {
  transform: scale(1.1);
}
